{
 "openapi": "3.1.0",
 "info": {
  "title": "ReDocumented Slack Web API (params-known subset)",
  "version": "2026-09-20",
  "description": "Generated from methods.json; only methods with params_known: true. Param types are loose strings. This catalog documents Slack's UNDOCUMENTED/internal API surface for a specific workspace (Hack Club, Enterprise Grid). Calling an undocumented method with params_known=false means you would be guessing params against a real backend with unknown side effects -- do not do this against a real account/token without a human in the loop, and never call anything shaped like a write (*.delete, *.set, *.remove, *.create, *.update, and similar) without explicit human confirmation and a clear understanding of the blast radius, even when params_known=true. 'existence-only' verified does NOT mean 'safe to call' -- it only means the method name is real."
 },
 "servers": [
  {
   "url": "https://slack.com/api"
  }
 ],
 "components": {
  "securitySchemes": {
   "bearer": {
    "type": "http",
    "scheme": "bearer"
   }
  }
 },
 "security": [
  {
   "bearer": []
  }
 ],
 "paths": {
  "/activity.feed": {
   "post": {
    "operationId": "activity.feed",
    "summary": "(inferred from name only; see methods/datamine-2026-09.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/activity.feed.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "limit": {
          "type": "string",
          "description": "number"
         },
         "types": {
          "type": "string",
          "description": "string"
         },
         "mode": {
          "type": "string",
          "description": "string"
         },
         "cursor": {
          "type": "string",
          "description": "string"
         },
         "archive_only": {
          "type": "string",
          "description": "boolean"
         },
         "unread_only": {
          "type": "string",
          "description": "boolean"
         },
         "priority_only": {
          "type": "string",
          "description": "boolean"
         },
         "only_salesforce_channels": {
          "type": "string",
          "description": "boolean"
         },
         "is_activity_inbox": {
          "type": "string",
          "description": "boolean"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, items, is_unread, feed_ts, item, type, message, ts, channel, is_broadcast, thread_ts, author_user_id, bundle_info, payload, thread_entry, channel_id, latest_ts, unread_msg_count, min_unread_ts, reaction, user, name, invite, linked_item_id, generic_system_alert_payload, category, blocks, block_id, reason, click_target_id, key, priority, vip, response_metadata, next_cursor"
     }
    }
   }
  },
  "/activity.markRead": {
   "post": {
    "operationId": "activity.markRead",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/activity.markRead.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "type": {
          "type": "string",
          "description": "string"
         },
         "feed_ts": {
          "type": "string",
          "description": "string"
         },
         "key": {
          "type": "string",
          "description": "string"
         },
         "ts": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok"
     }
    }
   }
  },
  "/activity.views": {
   "post": {
    "operationId": "activity.views",
    "summary": "(inferred from name only; see methods/datamine-2026-09.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/activity.views.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {}
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, views, id, name, view_type, position, sort, filters"
     }
    }
   }
  },
  "/admin.accountType.permissions.add": {
   "post": {
    "operationId": "admin.accountType.permissions.add",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.accountType.permissions.add.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "permission_name": {
          "type": "string",
          "description": "string"
         },
         "assigned_account_type": {
          "type": "string",
          "description": "string"
         },
         "entity_id": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, permission, permission_name, assigned_account_types, configurable_account_types"
     }
    }
   }
  },
  "/admin.accountType.permissions.list": {
   "post": {
    "operationId": "admin.accountType.permissions.list",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.accountType.permissions.list.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "entity_id": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, permissions, permission_name, assigned_account_types, always_assigned_account_types, configurable_account_types, is_top_level_only, who_can_configure_account_types, configurable_team_types, localized_permission_display_name"
     }
    }
   }
  },
  "/admin.accountType.permissions.remove": {
   "post": {
    "operationId": "admin.accountType.permissions.remove",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.accountType.permissions.remove.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "permission_name": {
          "type": "string",
          "description": "string"
         },
         "assigned_account_type": {
          "type": "string",
          "description": "string"
         },
         "entity_id": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok"
     }
    }
   }
  },
  "/admin.activity.logs.list": {
   "post": {
    "operationId": "admin.activity.logs.list",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.activity.logs.list.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "team_id": {
          "type": "string",
          "description": "string"
         },
         "page": {
          "type": "string",
          "description": "number"
         },
         "limit": {
          "type": "string",
          "description": "number"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, logs, api_app_id, is_workflow_app, is_connector, is_workspace_change, team_id, service_instance_id, date, log_author, id, real_name, name, is_deleted, is_disabled, icons, icon_32, paging, count, total, page, pages"
     }
    }
   }
  },
  "/admin.analytics.export": {
   "post": {
    "operationId": "admin.analytics.export",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.analytics.export.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "export_type": {
          "type": "string",
          "description": "string"
         },
         "sort_direction": {
          "type": "string",
          "description": "string"
         },
         "sort_column": {
          "type": "string",
          "description": "string"
         },
         "query": {
          "type": "string",
          "description": "string"
         },
         "columns": {
          "type": "string",
          "description": "string"
         },
         "offline": {
          "type": "string",
          "description": "boolean"
         },
         "date_interval": {
          "type": "string",
          "description": "string"
         },
         "privacy": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok"
     }
    }
   }
  },
  "/admin.analytics.getAppsAnalytics": {
   "post": {
    "operationId": "admin.analytics.getAppsAnalytics",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.analytics.getAppsAnalytics.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "sort_direction": {
          "type": "string",
          "description": "string"
         },
         "sort_column": {
          "type": "string",
          "description": "string"
         },
         "team_id": {
          "type": "string",
          "description": "string"
         },
         "date_range": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, num_found, apps_analytics, id, name, type, categories, source, icons, image_32, image_48, image_64, image_72, first_message_sent_date, last_message_sent_date, first_active_date, last_active_date, first_automation_date, last_automation_date, member_reads, avg, min, max, min_observed_start_date, min_observed_end_date, max_observed_start_date, max_observed_end_date, active_users, messages_read, actions_taken, member_automations, messages_sent, automations_executed, messages_consumed, messages_consumed_web, messages_consumed_discovery, messages_consumed_events, messages_consumed_real_time_search, messages_consumed_admin_oversight, files_consumed, next_cursor_mark"
     }
    }
   }
  },
  "/admin.analytics.getAvailableDateRange": {
   "post": {
    "operationId": "admin.analytics.getAvailableDateRange",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.analytics.getAvailableDateRange.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "type": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, start_date, date_last_updated, date_last_indexed"
     }
    }
   }
  },
  "/admin.analytics.getChannelAnalytics": {
   "post": {
    "operationId": "admin.analytics.getChannelAnalytics",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.analytics.getChannelAnalytics.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "date_interval": {
          "type": "string",
          "description": "string"
         },
         "count": {
          "type": "string",
          "description": "number"
         },
         "sort_column": {
          "type": "string",
          "description": "string"
         },
         "sort_direction": {
          "type": "string",
          "description": "string"
         },
         "privacy": {
          "type": "string",
          "description": "string"
         },
         "query": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, next_cursor_mark, num_found, channel_analytics, channel_id, team_id, date_create, is_shared, name, topic, purpose, total_members_count, full_members_count, guest_members_count, chats_count, messages_count, reactions_count, users_who_reacted_count, writers_count, is_private, last_message_posted, readers_count, writers_percentage, huddles_count, channels, id, is_channel, is_group, is_im, is_mpim, created, is_archived, is_general, unlinked, name_normalized, is_frozen, is_org_shared, is_pending_ext_shared, pending_shared, context_team_id, updated, parent_conversation, creator, is_moved, is_ext_shared, shared_team_ids, internal_team_ids, pending_connected_team_ids, is_member, members, value, last_set, properties, is_dormant, tabs, type, label, is_disabled, data, file_id, shared_ts, folder_bookmark_id, tabz, who_can_manage_tabs, canvas, is_empty, quip_thread_id, is_migrated, meeting_notes, huddles, ai_notes_settings_restricted, is_huddle_channel, previous_names"
     }
    }
   }
  },
  "/admin.analytics.getFile": {
   "post": {
    "operationId": "admin.analytics.getFile",
    "summary": "Retrieve analytics data for a given date, presented as a compressed JSON file",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.analytics.getFile.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "date": {
          "type": "string",
          "description": "date Date to retrieve the analytics data for, expressed as YYYY-MM-DD in UTC. Required unless metadata_only is set to true."
         },
         "type": {
          "type": "string",
          "description": "string The type of analytics to retrieve. The options are currently limited to member (for Enterprise org member analytics) and public_channel (for public channel analytics)."
         },
         "metadata_only": {
          "type": "string",
          "description": "boolean Retrieve metadata for the type of analytics indicated. Can be used only with type set to public_channel analytics. See detail below. Omit the date parameter when using this argument."
         }
        },
        "required": [
         "type"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.analytics.getMemberAnalytics": {
   "post": {
    "operationId": "admin.analytics.getMemberAnalytics",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.analytics.getMemberAnalytics.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "date_range": {
          "type": "string",
          "description": "string"
         },
         "count": {
          "type": "string",
          "description": "number"
         },
         "sort_column": {
          "type": "string",
          "description": "string"
         },
         "sort_direction": {
          "type": "string",
          "description": "string"
         },
         "query": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, next_cursor_mark, num_found, member_activity, user_id, team_id, username, date_created, is_primary_owner, is_owner, is_admin, is_restricted, is_ultra_restricted, is_invited_member, is_invited_guest, real_name, display_name, messages_posted_in_channel, reactions_added, days_active, days_active_desktop, days_active_android, days_active_ios, files_added_count, days_active_apps, days_active_workflows, days_active_slack_connect, total_calls_count, slack_calls_count, slack_huddles_count, search_count, is_billable_seat, messages_posted, date_claimed, date_last_active, date_last_active_ios, date_last_active_android, date_last_active_desktop, user_title, date_deleted"
     }
    }
   }
  },
  "/admin.analytics.messages.activity": {
   "post": {
    "operationId": "admin.analytics.messages.activity",
    "summary": "Retrieves activity metrics for messages from a given channel.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.analytics.messages.activity.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel": {
          "type": "string",
          "description": "channel Channel ID for channel of the message activity to query."
         },
         "oldest_ts": {
          "type": "string",
          "description": "string Oldest timestamp to include in the results. Defaults to 7 days before current time. If not passed while still passing the latest_ts parameter, defaults to 7 days before latest_ts."
         },
         "latest_ts": {
          "type": "string",
          "description": "string Most recent timestamp to include in results. Defaults to current time. If not passed while still passing the oldest_ts parameter, defaults to 7 days after oldest_ts."
         },
         "cursor": {
          "type": "string",
          "description": "string Paginate through collections of data by setting the cursor parameter to a next_cursor attribute returned by a previous request's response_metadata. Default value fetches the first \"page\" of the collection."
         },
         "limit": {
          "type": "string",
          "description": "integer Maximum number of entries to return. Defaults to 50 if not passed. Max allowed is 100."
         }
        },
        "required": [
         "channel"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.analytics.messages.metadata": {
   "post": {
    "operationId": "admin.analytics.messages.metadata",
    "summary": "Retrieves metadata for a list of messages from a given channel.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.analytics.messages.metadata.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel": {
          "type": "string",
          "description": "channel Channel ID for channel containing the messages to query."
         },
         "oldest_ts": {
          "type": "string",
          "description": "string Oldest timestamp to include in the results."
         },
         "latest_ts": {
          "type": "string",
          "description": "string Most recent timestamp to include in the results. If not passed, defaults to current time."
         },
         "cursor": {
          "type": "string",
          "description": "string Paginate through collections of data by setting the cursor parameter to a next_cursor attribute returned by a previous request's response_metadata. Default value fetches the first \"page\" of the collection. See pagination for more detail."
         }
        },
        "required": [
         "channel"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.activities.list": {
   "post": {
    "operationId": "admin.apps.activities.list",
    "summary": "Get logs for a specified team/org",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.activities.list.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string The ID of the app to get activities from."
         },
         "team_id": {
          "type": "string",
          "description": "string The team who owns this log."
         },
         "cursor": {
          "type": "string",
          "description": "string Paginate through collections of data by setting the cursor parameter to a next_cursor attribute returned by a previous request's response_metadata. See pagination for more detail."
         },
         "limit": {
          "type": "string",
          "description": "integer The maximum number of items to return."
         },
         "min_log_level": {
          "type": "string",
          "description": "string The minimum log level of the log events to be returned. Defaults to info. Acceptable values (in order of relative importance from smallest to largest) are trace, debug, info, warn, error and fatal."
         },
         "log_event_type": {
          "type": "string",
          "description": "string The event type of log events to be returned."
         },
         "source": {
          "type": "string",
          "description": "string The source of log events to be returned. Acceptable values are slack and developer."
         },
         "component_type": {
          "type": "string",
          "description": "string The component type of log events to be returned. Acceptable values are events_api, workflows, functions and tables."
         },
         "component_id": {
          "type": "string",
          "description": "string The component ID of log events to be returned. Will be FnXXXXXX for functions, and WfXXXXXX for workflows."
         },
         "trace_id": {
          "type": "string",
          "description": "string The trace ID of log events to be returned."
         },
         "min_date_created": {
          "type": "string",
          "description": "integer The earliest timestamp of the log to retrieve (epoch microseconds)."
         },
         "max_date_created": {
          "type": "string",
          "description": "integer The latest timestamp of the log to retrieve (epoch microseconds)."
         },
         "sort_direction": {
          "type": "string",
          "description": "enum The direction you want the data sorted by (always by timestamp)."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.approve": {
   "post": {
    "operationId": "admin.apps.approve",
    "summary": "Approve an app for installation on a workspace.",
    "description": "status: documented; verified: docs-only (live-tested 2026-09-20, only error paths observed); params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.approve.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only (live-tested 2026-09-20, only error paths observed)",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "allow_child_auto_install": {
          "type": "string",
          "description": "boolean Auto-create an Admin-Approved App automation rule that pre-approves future child app installs from this manager app."
         },
         "app_id": {
          "type": "string",
          "description": "string The id of the app to approve."
         },
         "request_id": {
          "type": "string",
          "description": "string The id of the request to approve."
         },
         "team_id": {
          "type": "string",
          "description": "string The ID of the workspace to approve the app on."
         },
         "enterprise_id": {
          "type": "string",
          "description": "string The ID of the enterprise to approve the app on."
         },
         "user_scopes": {
          "type": "string",
          "description": "string User scopes to approve for the app."
         },
         "bot_scopes": {
          "type": "string",
          "description": "string Bot scopes to approve for the app."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.approved.list": {
   "post": {
    "operationId": "admin.apps.approved.list",
    "summary": "List approved apps for an org or workspace.",
    "description": "status: documented; verified: live-verified; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.approved.list.md",
    "tags": [
     "documented"
    ],
    "x-verified": "live-verified",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "limit": {
          "type": "string",
          "description": "integer The maximum number of items to return. Must be between 1 - 1000 both inclusive."
         },
         "cursor": {
          "type": "string",
          "description": "string Set cursor to next_cursor returned by the previous call to list items in the next page."
         },
         "team_id": {
          "type": "string",
          "description": "string"
         },
         "enterprise_id": {
          "type": "string",
          "description": "string"
         },
         "certified": {
          "type": "string",
          "description": "boolean Limit the results to only include certified apps. When false, no certified apps will appear in the result."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.certified.list": {
   "post": {
    "operationId": "admin.apps.certified.list",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.certified.list.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {}
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, apps, id, is_installed, is_request_pending, namespace, app_resolution, requires_config, missing_required_config, config_options, variables, name, title, description, hint, min_length, max_length, is_required, is_secret, admin_app_config, workflow_auth_strategy, is_config_request_pending, date_released, profile, icons, image_32, image_48, image_64, image_72, image_96, image_128, image_192, image_512, image_1024, image_36, is_hidden, has_slow_execution"
     }
    }
   }
  },
  "/admin.apps.clearResolution": {
   "post": {
    "operationId": "admin.apps.clearResolution",
    "summary": "Clear an app resolution",
    "description": "status: documented; verified: live-verified; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.clearResolution.md",
    "tags": [
     "documented"
    ],
    "x-verified": "live-verified",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string The id of the app whose resolution you want to clear/undo."
         },
         "team_id": {
          "type": "string",
          "description": "string The workspace to clear the app resolution from."
         },
         "enterprise_id": {
          "type": "string",
          "description": "string The enterprise to clear the app resolution from."
         }
        },
        "required": [
         "app_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.config.lookup": {
   "post": {
    "operationId": "admin.apps.config.lookup",
    "summary": "Look up the app config for connectors by their IDs",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.config.lookup.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_ids": {
          "type": "string",
          "description": "array An array of app IDs to get app configs for."
         },
         "rich_link_preview_types": {
          "type": "string",
          "description": "array return apps with the corresponding rich link preview layouts."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, configs, app_id, workflow_auth_strategy, domain_restrictions, urls, rich_link_preview_type"
     }
    }
   }
  },
  "/admin.apps.config.set": {
   "post": {
    "operationId": "admin.apps.config.set",
    "summary": "Set the app config for a connector",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.config.set.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string The encoded app ID to set the app config for."
         },
         "workflow_auth_strategy": {
          "type": "string",
          "description": "enum The workflow auth permission. Can be one of builder_choice or end_user_only."
         },
         "rich_link_preview_type": {
          "type": "string",
          "description": "enum Indicates the app-level override for rich link preview. Unsupported for free teams."
         },
         "domain_restrictions": {
          "type": "string",
          "description": "object Domain restrictions for the app. Should be an object with two properties: urls and emails. Each is an array of strings, and each sets the allowed URLs and emails for connector authorization, respectively."
         }
        },
        "required": [
         "app_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok"
     }
    }
   }
  },
  "/admin.apps.installed.list": {
   "post": {
    "operationId": "admin.apps.installed.list",
    "summary": "(inferred from name only; see methods/datamine-2026-09.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.installed.list.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "user_id": {
          "type": "string",
          "description": "string"
         },
         "scope_group": {
          "type": "string",
          "description": "string"
         },
         "query": {
          "type": "string",
          "description": "string"
         },
         "limit": {
          "type": "string",
          "description": "number"
         },
         "legacy_integrations": {
          "type": "string",
          "description": "boolean"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, apps, id, name, description, help_url, privacy_policy_url, app_homepage_url, app_directory_url, is_granular_bot_app, is_app_directory_approved, is_internal, developer_type, socket_mode_enabled, icons, image_32, image_36, image_48, image_64, image_72, image_96, image_128, image_192, image_512, image_1024, additional_info, date_create, is_certified, response_metadata, next_cursor"
     }
    }
   }
  },
  "/admin.apps.lookup": {
   "post": {
    "operationId": "admin.apps.lookup",
    "summary": "(inferred from name only; see methods/datamine-2026-09.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.lookup.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "team_id": {
          "type": "string",
          "description": "string"
         },
         "app_ids": {
          "type": "string",
          "description": "string"
         },
         "include_non_distributed_functions": {
          "type": "string",
          "description": "boolean"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, apps, status, function_count, domain_allowlisting_enabled, is_email_domain_restriction_allowed, has_3p_oauth_provider, is_work_object_enabled, trigger_type_count, is_ai_app, is_agent_app, is_search_app"
     }
    }
   }
  },
  "/admin.apps.mcp.servers.list": {
   "post": {
    "operationId": "admin.apps.mcp.servers.list",
    "summary": "List third-party app MCP servers approved for an organization, derived from the org's MCP server allowlist. Entries reflect allowlist state, not install/scope liveness: servers of apps that are uninst",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.mcp.servers.list.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "limit": {
          "type": "string",
          "description": "integer The maximum number of items to return. Must be between 1 - 1000 both inclusive."
         },
         "cursor": {
          "type": "string",
          "description": "string Set cursor to next_cursor returned by the previous call to list items in the next page."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.mcp.servers.permissions.list": {
   "post": {
    "operationId": "admin.apps.mcp.servers.permissions.list",
    "summary": "List MCP servers for an app with their access control permissions",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.mcp.servers.permissions.list.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string Encoded ID of the app."
         }
        },
        "required": [
         "app_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.mcp.servers.permissions.set": {
   "post": {
    "operationId": "admin.apps.mcp.servers.permissions.set",
    "summary": "Set the access control permission for who can use an MCP server",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.mcp.servers.permissions.set.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string Encoded ID of the app."
         },
         "server_id": {
          "type": "string",
          "description": "string Encoded ID of the MCP server."
         },
         "permission_type": {
          "type": "string",
          "description": "enum The type of permission that defines who can use this MCP server."
         },
         "user_ids": {
          "type": "string",
          "description": "array List of user IDs to set for named_entities or named_entities_exclude."
         },
         "usergroup_ids": {
          "type": "string",
          "description": "array List of encoded usergroup IDs."
         }
        },
        "required": [
         "app_id",
         "server_id",
         "permission_type"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.permissions.add": {
   "post": {
    "operationId": "admin.apps.permissions.add",
    "summary": "Grant permission for entities to access an app that has its permission type set to named_entities",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.permissions.add.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string Encoded ID of the app."
         },
         "user_ids": {
          "type": "string",
          "description": "array List of user IDs to allow for named_entities visibility."
         },
         "usergroup_ids": {
          "type": "string",
          "description": "array List of encoded usergroup IDs."
         },
         "channel_ids": {
          "type": "string",
          "description": "array List of encoded channel IDs to add to the channel restriction list. Interpretation depends on the app's channel_restriction_mode, which is configured via the admin.apps.permissions.set method."
         }
        },
        "required": [
         "app_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.permissions.list": {
   "post": {
    "operationId": "admin.apps.permissions.list",
    "summary": "Returns the permission type of an app and if applicable, includes the entities that have been granted access",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.permissions.list.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string Encoded ID of the app."
         }
        },
        "required": [
         "app_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.permissions.remove": {
   "post": {
    "operationId": "admin.apps.permissions.remove",
    "summary": "Revoke an entity's access to an app that has its permission type set to named_entities",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.permissions.remove.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string Encoded ID of the app."
         },
         "user_ids": {
          "type": "string",
          "description": "array List of user IDs whose named_entities access will be revoked."
         },
         "usergroup_ids": {
          "type": "string",
          "description": "array List of encoded usergroup IDs."
         },
         "channel_ids": {
          "type": "string",
          "description": "array List of encoded channel IDs to remove from the channel restriction list. Interpretation depends on the app's channel_restriction_mode, which is configured via the admin.apps.permissions.set method."
         }
        },
        "required": [
         "app_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.permissions.set": {
   "post": {
    "operationId": "admin.apps.permissions.set",
    "summary": "Set the permission type for who can access an app",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.permissions.set.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string Encoded ID of the app."
         },
         "permission_type": {
          "type": "string",
          "description": "enum The type of permission that defines who can access the app."
         },
         "user_ids": {
          "type": "string",
          "description": "array List of user IDs to allow for named_entities visibility."
         },
         "usergroup_ids": {
          "type": "string",
          "description": "array List of encoded usergroup IDs."
         },
         "channel_restriction_mode": {
          "type": "string",
          "description": "enum The mode that defines where the app can be used in channels."
         },
         "channel_ids": {
          "type": "string",
          "description": "array List of encoded channel IDs for channel restrictions. Semantics depend on channel_restriction_mode: allowlist for specific_channels, exclusion list for all_channels_except."
         }
        },
        "required": [
         "app_id",
         "permission_type"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.recommend.add": {
   "post": {
    "operationId": "admin.apps.recommend.add",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.recommend.add.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "team_id": {
          "type": "string",
          "description": "string"
         },
         "app_id": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok"
     }
    }
   }
  },
  "/admin.apps.recommend.list": {
   "post": {
    "operationId": "admin.apps.recommend.list",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.recommend.list.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "team_id": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, apps"
     }
    }
   }
  },
  "/admin.apps.recommend.remove": {
   "post": {
    "operationId": "admin.apps.recommend.remove",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only (sample-checked); params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.recommend.remove.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only (sample-checked)",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "team_id": {
          "type": "string",
          "description": "string"
         },
         "app_id": {
          "type": "string",
          "description": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok"
     }
    }
   }
  },
  "/admin.apps.requests.cancel": {
   "post": {
    "operationId": "admin.apps.requests.cancel",
    "summary": "Cancel app request for team",
    "description": "status: documented; verified: docs-only (live-tested 2026-09-20, not_an_admin on every combination); params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.requests.cancel.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only (live-tested 2026-09-20, not_an_admin on every combination)",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "request_id": {
          "type": "string",
          "description": "string The id of the request to cancel."
         },
         "team_id": {
          "type": "string",
          "description": "string The ID of the workspace where this request belongs."
         },
         "enterprise_id": {
          "type": "string",
          "description": "string The ID of the enterprise where this request belongs."
         }
        },
        "required": [
         "request_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.requests.list": {
   "post": {
    "operationId": "admin.apps.requests.list",
    "summary": "List app requests for a team/workspace.",
    "description": "status: documented; verified: live-verified; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.requests.list.md",
    "tags": [
     "documented"
    ],
    "x-verified": "live-verified",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "limit": {
          "type": "string",
          "description": "integer The maximum number of items to return. Must be between 1 - 1000 both inclusive."
         },
         "cursor": {
          "type": "string",
          "description": "string Set cursor to next_cursor returned by the previous call to list items in the next page."
         },
         "team_id": {
          "type": "string",
          "description": "string"
         },
         "enterprise_id": {
          "type": "string",
          "description": "string"
         },
         "certified": {
          "type": "string",
          "description": "boolean Include requests for certified apps."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.restrict": {
   "post": {
    "operationId": "admin.apps.restrict",
    "summary": "Restrict an app for installation on a workspace.",
    "description": "status: documented; verified: live-verified; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.restrict.md",
    "tags": [
     "documented"
    ],
    "x-verified": "live-verified",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string The id of the app to restrict."
         },
         "request_id": {
          "type": "string",
          "description": "string The id of the request to restrict."
         },
         "team_id": {
          "type": "string",
          "description": "string The ID of the workspace to approve the app on."
         },
         "enterprise_id": {
          "type": "string",
          "description": "string The ID of the enterprise to approve the app on."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.restricted.list": {
   "post": {
    "operationId": "admin.apps.restricted.list",
    "summary": "List restricted apps for an org or workspace.",
    "description": "status: documented; verified: live-verified; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.restricted.list.md",
    "tags": [
     "documented"
    ],
    "x-verified": "live-verified",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "limit": {
          "type": "string",
          "description": "integer The maximum number of items to return. Must be between 1 - 1000 both inclusive."
         },
         "cursor": {
          "type": "string",
          "description": "string Set cursor to next_cursor returned by the previous call to list items in the next page."
         },
         "team_id": {
          "type": "string",
          "description": "string"
         },
         "enterprise_id": {
          "type": "string",
          "description": "string"
         },
         "certified": {
          "type": "string",
          "description": "boolean Limit the results to only include certified apps. When false, no certified apps will appear in the result."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.apps.search": {
   "post": {
    "operationId": "admin.apps.search",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.search.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "query": {
          "type": "string",
          "description": "string"
         },
         "legacy_integrations": {
          "type": "string",
          "description": "boolean"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, apps, id, name, description, help_url, privacy_policy_url, app_homepage_url, app_directory_url, is_granular_bot_app, is_app_directory_approved, is_internal, developer_type, socket_mode_enabled, icons, image_32, image_36, image_48, image_64, image_72, image_96, image_128, image_192, image_512, image_1024, additional_info, date_create, functions, callback_id, title"
     }
    }
   }
  },
  "/admin.apps.uninstall": {
   "post": {
    "operationId": "admin.apps.uninstall",
    "summary": "Uninstall an app from one or many workspaces, or an entire enterprise organization.",
    "description": "status: documented; verified: live-verified; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.apps.uninstall.md",
    "tags": [
     "documented"
    ],
    "x-verified": "live-verified",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "app_id": {
          "type": "string",
          "description": "string The ID of the app to uninstall."
         },
         "team_ids": {
          "type": "string",
          "description": "string IDs of the teams to uninstall from (max 100). With an org-level token, this or enterprise_id is required."
         },
         "enterprise_id": {
          "type": "string",
          "description": "string The enterprise to completely uninstall the application from (across all workspaces). With an org-level token, this or team_ids is required."
         }
        },
        "required": [
         "app_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok"
     }
    }
   }
  },
  "/admin.audit.anomaly.allow.getItem": {
   "post": {
    "operationId": "admin.audit.anomaly.allow.getItem",
    "summary": "API to allow Enterprise org admins to read the allow list of IP blocks and ASNs from the enterprise configuration.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.audit.anomaly.allow.getItem.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {}
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.audit.anomaly.allow.updateItem": {
   "post": {
    "operationId": "admin.audit.anomaly.allow.updateItem",
    "summary": "API to allow Enterprise org admins to write/overwrite the allow list of IP blocks and ASNs from the enterprise configuration.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.audit.anomaly.allow.updateItem.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "trusted_cidr": {
          "type": "string",
          "description": "array allow list of IPv4 addresses using cidr notation in the Enterprise organization configuration."
         },
         "trusted_asns": {
          "type": "string",
          "description": "array allow list of Autonomous System Numbers (ASN) in the Enterprise organization configuration."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.auth.policy.assignEntities": {
   "post": {
    "operationId": "admin.auth.policy.assignEntities",
    "summary": "Assign entities to a particular authentication policy.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.auth.policy.assignEntities.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "policy_name": {
          "type": "string",
          "description": "string The name of the authentication policy to assign the entities to. Currently, email_password is the only policy that may be used with this method."
         },
         "entity_type": {
          "type": "string",
          "description": "string The type of entity to assign to the policy. Currently, USER is supported."
         },
         "entity_ids": {
          "type": "string",
          "description": "array Array of IDs to assign to the policy."
         }
        },
        "required": [
         "policy_name",
         "entity_type",
         "entity_ids"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.auth.policy.getEntities": {
   "post": {
    "operationId": "admin.auth.policy.getEntities",
    "summary": "Fetch all the entities assigned to a particular authentication policy by name.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.auth.policy.getEntities.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "policy_name": {
          "type": "string",
          "description": "string The name of the policy to fetch entities for. Currently, email_password is the only policy that may be used with this method."
         },
         "entity_type": {
          "type": "string",
          "description": "string The type of entity to assign to the policy. Currently, USER is supported."
         },
         "limit": {
          "type": "string",
          "description": "integer The maximum number of items to return. Must be between 1 and 1000, both inclusive."
         },
         "cursor": {
          "type": "string",
          "description": "string Set cursor to next_cursor returned by the previous call to list items in the next page."
         }
        },
        "required": [
         "policy_name"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.auth.policy.removeEntities": {
   "post": {
    "operationId": "admin.auth.policy.removeEntities",
    "summary": "Remove specified entities from a specified authentication policy.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.auth.policy.removeEntities.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "policy_name": {
          "type": "string",
          "description": "string The name of the policy to remove entities from. Currently, email_password is the only policy that may be used with this method."
         },
         "entity_type": {
          "type": "string",
          "description": "string The type of entity to assign to the policy. Currently, USER is supported."
         },
         "entity_ids": {
          "type": "string",
          "description": "array Encoded IDs of the entities you'd like to remove from the policy."
         }
        },
        "required": [
         "policy_name",
         "entity_type",
         "entity_ids"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.barriers.create": {
   "post": {
    "operationId": "admin.barriers.create",
    "summary": "Create an Information Barrier",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.barriers.create.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "primary_usergroup_id": {
          "type": "string",
          "description": "string The id of the primary IDP Group."
         },
         "barriered_from_usergroup_ids": {
          "type": "string",
          "description": "array A list of IDP Groups ids that the primary usergroup is to be barriered from."
         },
         "restricted_subjects": {
          "type": "string",
          "description": "array What kind of interactions are blocked by this barrier? For v1, we only support a list of all 3, eg im, mpim, call."
         }
        },
        "required": [
         "primary_usergroup_id",
         "barriered_from_usergroup_ids",
         "restricted_subjects"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.barriers.delete": {
   "post": {
    "operationId": "admin.barriers.delete",
    "summary": "Delete an existing Information Barrier",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.barriers.delete.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "barrier_id": {
          "type": "string",
          "description": "string The ID of the barrier you're trying to delete."
         }
        },
        "required": [
         "barrier_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.barriers.list": {
   "post": {
    "operationId": "admin.barriers.list",
    "summary": "Get all Information Barriers for your organization",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.barriers.list.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "limit": {
          "type": "string",
          "description": "integer The maximum number of items to return. Must be between 1 - 1000 both inclusive."
         },
         "cursor": {
          "type": "string",
          "description": "string Set cursor to next_cursor returned by the previous call to list items in the next page."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.barriers.update": {
   "post": {
    "operationId": "admin.barriers.update",
    "summary": "Update an existing Information Barrier",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.barriers.update.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "barrier_id": {
          "type": "string",
          "description": "string The ID of the barrier you're trying to modify."
         },
         "primary_usergroup_id": {
          "type": "string",
          "description": "string The id of the primary IDP Group."
         },
         "barriered_from_usergroup_ids": {
          "type": "string",
          "description": "array A list of IDP Groups ids that the primary usergroup is to be barriered from."
         },
         "restricted_subjects": {
          "type": "string",
          "description": "array What kind of interactions are blocked by this barrier? For v1, we only support a list of all 3, eg im, mpim, call."
         }
        },
        "required": [
         "barrier_id",
         "primary_usergroup_id",
         "barriered_from_usergroup_ids",
         "restricted_subjects"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.billing.settings.boot": {
   "post": {
    "operationId": "admin.billing.settings.boot",
    "summary": "(from internal-canvas cross-reference; see methods/internal-canvas-2026.md)",
    "description": "status: undocumented; verified: existence-only; params source: ImShyMike/slack-undoc-client (generated TS types, cross-referenced not independently verified). Details: https://vs.izie.top/redocumented/api/methods/admin.billing.settings.boot.md",
    "tags": [
     "undocumented"
    ],
    "x-verified": "existence-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {}
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: ok, can_change_purchase_settings, current_product_id, is_current_product_trial, is_team_in_dunning, next_product_id, should_show_billing_email_daily_setting, should_show_billing_email_monthly_setting, should_show_request_settings, auto_detected_country_code"
     }
    }
   }
  },
  "/admin.conversations.archive": {
   "post": {
    "operationId": "admin.conversations.archive",
    "summary": "Archive a public or private channel.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.archive.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_id": {
          "type": "string",
          "description": "string The channel to archive."
         }
        },
        "required": [
         "channel_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.bulkArchive": {
   "post": {
    "operationId": "admin.conversations.bulkArchive",
    "summary": "Archive public or private channels in bulk.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.bulkArchive.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_ids": {
          "type": "string",
          "description": "array An array of channel IDs to archive. No more than 100 items are allowed."
         }
        },
        "required": [
         "channel_ids"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.bulkDelete": {
   "post": {
    "operationId": "admin.conversations.bulkDelete",
    "summary": "Delete public or private channels in bulk",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.bulkDelete.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_ids": {
          "type": "string",
          "description": "array An array of channel IDs."
         }
        },
        "required": [
         "channel_ids"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.bulkMove": {
   "post": {
    "operationId": "admin.conversations.bulkMove",
    "summary": "Move public or private channels in bulk.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.bulkMove.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "target_team_id": {
          "type": "string",
          "description": "string Target team ID."
         },
         "channel_ids": {
          "type": "string",
          "description": "array An array of channel IDs."
         }
        },
        "required": [
         "target_team_id",
         "channel_ids"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.bulkSetExcludeFromSlackAi": {
   "post": {
    "operationId": "admin.conversations.bulkSetExcludeFromSlackAi",
    "summary": "Exclude channels from Slack AI in bulk",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.bulkSetExcludeFromSlackAi.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_ids": {
          "type": "string",
          "description": "array An array of channel IDs to exclude from Slack AI."
         },
         "exclude": {
          "type": "string",
          "description": "boolean Whether the channels should be excluded from Slack AI."
         }
        },
        "required": [
         "channel_ids",
         "exclude"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.bulkSetProperties": {
   "post": {
    "operationId": "admin.conversations.bulkSetProperties",
    "summary": "Set properties on channels in bulk.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.bulkSetProperties.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_ids": {
          "type": "string",
          "description": "array An array of channel IDs on which to set the property."
         },
         "property": {
          "type": "string",
          "description": "string The property for this channel in a key value format. Only one property can be updated at a time."
         }
        },
        "required": [
         "channel_ids",
         "property"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.convertToPrivate": {
   "post": {
    "operationId": "admin.conversations.convertToPrivate",
    "summary": "Convert a public channel to a private channel.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.convertToPrivate.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_id": {
          "type": "string",
          "description": "string The channel to convert to private."
         },
         "name": {
          "type": "string",
          "description": "string Name of private channel to create. Only respected when converting an MPIM."
         }
        },
        "required": [
         "channel_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.convertToPublic": {
   "post": {
    "operationId": "admin.conversations.convertToPublic",
    "summary": "Convert a private channel to a public channel.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.convertToPublic.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_id": {
          "type": "string",
          "description": "string The channel to convert to public."
         }
        },
        "required": [
         "channel_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.create": {
   "post": {
    "operationId": "admin.conversations.create",
    "summary": "Create a public or private channel-based conversation.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.create.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "description": "string Name of the public or private channel to create."
         },
         "description": {
          "type": "string",
          "description": "string Description of the public or private channel to create."
         },
         "is_private": {
          "type": "string",
          "description": "boolean When true, creates a private channel instead of a public channel."
         },
         "org_wide": {
          "type": "string",
          "description": "boolean When true, the channel will be available org-wide. Note: if the channel is not org_wide=true, you must specify a team_id for this channel."
         },
         "team_id": {
          "type": "string",
          "description": "string The workspace to create the channel in. Note: this argument is required unless you set org_wide=true."
         }
        },
        "required": [
         "name",
         "is_private"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.createForObjects": {
   "post": {
    "operationId": "admin.conversations.createForObjects",
    "summary": "Create a Salesforce channel for the corresponding object provided.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.createForObjects.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "object_id": {
          "type": "string",
          "description": "string Object / Record ID (15 or 18 digit accepted). See here for how to look up an ID."
         },
         "salesforce_org_id": {
          "type": "string",
          "description": "string Salesforce org ID (15 or 18 digit accepted). See here for how to look up Salesforce org ID."
         },
         "invite_object_team": {
          "type": "string",
          "description": "boolean Optional flag to add all team members related to the object to the newly created Salesforce channel. When true, adds a maximum of 100 team members to the channel."
         }
        },
        "required": [
         "object_id",
         "salesforce_org_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.delete": {
   "post": {
    "operationId": "admin.conversations.delete",
    "summary": "Delete a public or private channel.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.delete.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_id": {
          "type": "string",
          "description": "string The channel to delete."
         }
        },
        "required": [
         "channel_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.disconnectShared": {
   "post": {
    "operationId": "admin.conversations.disconnectShared",
    "summary": "Disconnect a connected channel from one or more workspaces.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.disconnectShared.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_id": {
          "type": "string",
          "description": "string The channel to be disconnected from some workspaces."
         },
         "leaving_team_ids": {
          "type": "string",
          "description": "array Used for disconnecting a team from a shared channel. Only one team ID may be passed at a time."
         }
        },
        "required": [
         "channel_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.ekm.listOriginalConnectedChannelInfo": {
   "post": {
    "operationId": "admin.conversations.ekm.listOriginalConnectedChannelInfo",
    "summary": "List all disconnected channels—i.e., channels that were once connected to other workspaces and then disconnected—and the corresponding original channel IDs for key revocation with EKM.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.ekm.listOriginalConnectedChannelInfo.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_ids": {
          "type": "string",
          "description": "string A comma-separated list of channels to filter to."
         },
         "team_ids": {
          "type": "string",
          "description": "string A comma-separated list of the workspaces to which the channels you would like returned belong."
         },
         "limit": {
          "type": "string",
          "description": "integer The maximum number of items to return. Must be between 1 - 1000 both inclusive."
         },
         "cursor": {
          "type": "string",
          "description": "string Set cursor to next_cursor returned by the previous call to list items in the next page."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.getConversationPrefs": {
   "post": {
    "operationId": "admin.conversations.getConversationPrefs",
    "summary": "Get conversation preferences for a public or private channel.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.getConversationPrefs.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_id": {
          "type": "string",
          "description": "string The channel to get preferences for."
         }
        },
        "required": [
         "channel_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.getCustomRetention": {
   "post": {
    "operationId": "admin.conversations.getCustomRetention",
    "summary": "This API endpoint can be used by any admin to get a conversation's retention policy.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.getCustomRetention.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_id": {
          "type": "string",
          "description": "string The conversation to get the retention policy for."
         }
        },
        "required": [
         "channel_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.getTeams": {
   "post": {
    "operationId": "admin.conversations.getTeams",
    "summary": "Get all the workspaces a given public or private channel is connected to within this Enterprise org.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.getTeams.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel_id": {
          "type": "string",
          "description": "string The channel to determine connected workspaces within the organization for."
         },
         "cursor": {
          "type": "string",
          "description": "string Set cursor to next_cursor returned by the previous call to list items in the next page."
         },
         "limit": {
          "type": "string",
          "description": "integer The maximum number of items to return. Must be between 1 - 1000 both inclusive."
         }
        },
        "required": [
         "channel_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.invite": {
   "post": {
    "operationId": "admin.conversations.invite",
    "summary": "Invite a user to a public or private channel.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.invite.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": true,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "user_ids": {
          "type": "string",
          "description": "array The users to invite."
         },
         "channel_id": {
          "type": "string",
          "description": "string The channel that the users will be invited to."
         }
        },
        "required": [
         "user_ids",
         "channel_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.linkObjects": {
   "post": {
    "operationId": "admin.conversations.linkObjects",
    "summary": "Link a Salesforce record to a channel",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.linkObjects.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "channel": {
          "type": "string",
          "description": "channel Channel ID for Slack channel that will be linked to a Salesforce record."
         },
         "record_id": {
          "type": "string",
          "description": "string Salesforce record ID (15 or 18 digit accepted). See here for how to look up record ID."
         },
         "salesforce_org_id": {
          "type": "string",
          "description": "string Salesforce org ID (15 or 18 digit accepted). See here for how to look up Salesforce org ID."
         }
        },
        "required": [
         "channel",
         "record_id",
         "salesforce_org_id"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Slack envelope; check `ok`. Response fields: unknown"
     }
    }
   }
  },
  "/admin.conversations.lookup": {
   "post": {
    "operationId": "admin.conversations.lookup",
    "summary": "Returns channels on the given team using the filters.",
    "description": "status: documented; verified: docs-only; params source: slack-ruby/slack-api-ref (mirrors official docs.slack.dev args). Details: https://vs.izie.top/redocumented/api/methods/admin.conversations.lookup.md",
    "tags": [
     "documented"
    ],
    "x-verified": "docs-only",
    "x-write-shaped": false,
    "requestBody": {
     "content": {
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "object",
        "properties": {
         "team_ids": {
          "type": "string",
          "description": "array Array of team IDs to filter by."
         },
         "max_member_count": {
          "type": "string",
          "description": "integer Filter by public channels with member count equal to or less than the specified number."
         },
         "last_message_activity_before": {
          "type": "string",
          "description": "integer Filter by public channels where the most recent message was sent before last_message_activity."
         },
         "cursor": {
          "type": "string",
          "description": "string Set cursor to next_cursor returned in the previous call, to fetch the next page."
         },
         "limit": {
          "type": "string",
          "description": "integer Maximum number of results."
         }
        },
        "required": [
         "team_ids",
         "last_message_activity_before"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
[...]
